<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="margin-left: 10px;">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
        <img ng-src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11428009_911608975548800_4936587092497136338_n.jpg?oh=5ec4286105cba4462566ba6129c640f2&oe=55F82BF3">
        <h2 class="greeting">Daniel Ehrhardt</h2>
        <p class="message">10 Rezepte</p>
      </ion-item>
      <br>
      <ion-list>
        <ion-item class="menulist" menu-close href="#/app/timecard">
          Stempelkarten
        </ion-item>
        <ion-item class="menulist" menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item class="menulist" menu-close href="#/app/search">
          Search
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
