<ion-view class="time-card" view-title="Stempelkarten">
  <ion-content scroll="true" has-bouncing="true">
    <div class="infoheader">
      <div class="imgleft">
        <img ng-src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11428009_911608975548800_4936587092497136338_n.jpg?oh=5ec4286105cba4462566ba6129c640f2&oe=55F82BF3">
      </div>
      <div class="info">
        <h4 class="greeting">Daniel Ehrhardt <i class="icon ion-ios-arrow-down"></i></h4>
        <p class="message">@daniel</p>
      </div>
    </div>
    <div class="tabs tabs-icon-left redtabs">
      <a class="tab-item" ng-click="openTab(1)" ng-class="{'current': openedTab == 1}">
        <i class="icon ion-ios-list"></i>
      </a>
      <a class="tab-item" ng-click="openTab(2)" ng-class="{'current': openedTab == 2}">
        <i class="icon ion-ios-people"></i>
      </a>
      <a class="tab-item" ng-click="openTab(3)" ng-class="{'current': openedTab == 3}">
        <i class="icon ion-ios-person"></i>
      </a>
    </div>
    <div class="content">
      <div class="contentimg">
        <img ng-src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11428009_911608975548800_4936587092497136338_n.jpg?oh=5ec4286105cba4462566ba6129c640f2&oe=55F82BF3">
      </div>
      <h1 class="nicename">Daniel Ehrhardt</h1>
      <div class="box">
        <div>
          <div class="row incontent">
            <div class="col col-25 icon">
              <i class="icon ion-android-call"></i>
            </div>
            <div class="col col-75 text">
              Privat
            </div>
          </div>
          <div class="row incontent">
            <div class="col col-25">

            </div>
            <div class="col col-75">
              + 49 7907 336
            </div>
          </div>
        </div>
        <div>
          <div class="row incontent">
            <div class="col col-25 icon">

            </div>
            <div class="col col-75 text">
              Mobile
            </div>
          </div>
          <div class="row incontent">
            <div class="col col-25">

            </div>
            <div class="col col-75">
              + 49 7907 336
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
