@mixin cssCalc($property, $expression) {
	#{$property}: calc(#{$expression});
}
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

// App colors
$top-bar-bg: #007a5c;
$top-bar-color: #FFFFFF;
$loading-color: #FFFFFF;

$content-bg: #EAEAEA;
$content-color: #444444;
$bookmarks-empty-color: #B3B2B2;
$miscellaneous-icon-color: $assertive;
$layouts-icon-color: $assertive;


//Wordpress colors
$read-more-color: $assertive;
$wordpress-heading-color:  #444444;

// Main menu colors
$main-menu-bg: #444444;
$main-menu-color: #FFFFFF;

//Feed entries
$entry-heading-color: #444444;
$entry-title-color: #FFFFFF;

// OTHER VARIABLES
$images-path: "../img";
$font-path: "../font";

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
