ion-side-menu
{
	ion-content
	{
		// background-color: $main-menu-bg;
		//background-color: darken($main-menu-bg, 2);
		background: url($images-path+ "/blurbg.jpg") no-repeat 0 50%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
	}

	ion-item.item
	{
		border: none;
		/*border-color: darken($main-menu-bg, 9);*/
	  	background-color: rgba( 255, 255, 255, .1);
	  	color: #fff;

		.item-content
		{
			background: none;


			.icon:before
			{

				color: $main-menu-color;
				border-radius: 50%;
				font-size: 22px;
				width: 32px;
				height: 32px;
				line-height: 32px;
			}
		}

		.item-content.activated
		{
		  	background-color: rgba( 255, 255, 255, .2);
		}

		.menu-text
		{
			color: darken($main-menu-color, 20);
			font-weight:300;
		}


	}

	ion-item.item:first-child
	{
		border-top:none;
	}

	ion-item.item:last-child
	{
		border-bottom:none;
	}
	.menulist{
	  	margin: 0 0 1px 0;

	}

	.heading-item
	{
		.item{
		  background: none;
		}
		.item-content
		{
			height: 120px;
			padding-top: 45px;
			padding-left: 115px;
			background-color: darken($main-menu-bg, 10);
			padding-bottom: 0px;
		}

		img
		{
		  max-width: 80px !important;
		  max-height: 80px !important;
		  box-shadow: 0 0 10px #000;
		  margin: 5px;
		}

		.greeting
		{
			color: $main-menu-color;
			font-weight:500;
		}

		.message
		{
			color: darken($main-menu-color, 40);
		}
	}
}
