.time-card{
	.infoheader{
	  width: 100%;
	  height: 80px;
	  background: rgba(119, 107, 93, .7);

	  .imgleft{
		float: left;
		top: 10px;
		left: 10px;
		position: relative;
	  }
	  .imgleft img{
		height: 60px;
		width: 60px;
		border-radius: 50%;
		border: 3px solid rgba(255, 255, 255, .5)
	  }
	  .info{
		margin-left: 90px;
		padding-top: 10px;
		.greeting{
		  color: #FFFFFF;
		  font-weight: 500;
		  margin-bottom: 0;

		}
		.message{
		  color: #eee;
		}
	  }
	}
  	.redtabs{
	  top: 78px;
	  border: none;
	  background: none;

	  .current{
		background: rgba(166, 65, 52, 0.4);
	  }
	  .activated{
		background: rgba(166, 65, 52, 0.6);
	  }
	}
  	.redtabs i{
	  color: #fff;
	}
  	.redtabs a{
	  opacity: 1;
	  background: rgba(238, 117, 102, 0.7);
	  border-right: 1px solid rgba(255, 255, 255, 0.1);
	}
  	.content{
	  .nicename{
		color: #fff;
	  	text-align: center;
		text-shadow: 0 2px 5px rgba(0,0,0,.6);
		margin: 10px 0 35px 0;
		font-family: 'Kaushan Script', cursive;
	  }
	  .box{
		width: 95%;
		height: 200px;
		margin: 10px;
		padding: 20px;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 5px 10px rgba(0,0,0,.6);
		.incontent{
		  font-size: 20px;

		  .icon{
			text-align: center;
		  }
		  .text{
			text-align: left;
			color: #333;
			font-size: 18px;
		  }
	 	 }
	  }
	  .contentimg{
		width: 50%;
		margin: 75px auto 0;
	  }
	  .contentimg img{
		border-radius: 50%;
		box-shadow: 0 0 20px #000;
		width: 100%;
	  }

	}

	.scroll-content:after {
	  content: "";
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  z-index: -1;
	  display: block;
	  background: url(https://scontent-fra3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11428009_911608975548800_4936587092497136338_n.jpg?oh=5ec4286105cba4462566ba6129c640f2&oe=55F82BF3) no-repeat 0 50%;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  background-size: cover;
	  opacity: .8;
	  -webkit-filter: blur(10px);
	  -moz-filter: blur(10px);
	  -o-filter: blur(10px);
	  -ms-filter: blur(10px);
	  filter: blur(10px);
	}
	.scroll-content:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  z-index: -1;
	  background:#000000;
	}


}